/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

input {
  width: 100px;
  height: 100px;
  display: none;
}

.card {
  width: 150px;
  height: 150px;
  background: steelblue;
  display: block;
  border-radius: 5px;
  transition: background 1s, -webkit-transform 1s;
}

input:checked +.card {
  background: lightcoral;
  -webkit-transform: rotateY(180deg);
}

.box {
  display: inline-block;
  /* padding: 1px; */
}

body {
  font-family: Orbitron, serif;
  color: #EEE;
/* border 1px dashed #FFF;
   text-align: center; */
}

h1 {
/* border: 1px dashed #FFF; */
  padding: 30px 30px 10px 30px;
  font-size: 6em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
}

section {
  /* display: inline-block; */
  padding: 30px 35px 30px 39px;
}

a {
  text-decoration: none;
  color: #EEE;
  text-align: center;
}

.hearts{
  float: left;
}

.time {
  float: right;
}

.game_bg {
  background-color: rgb(62, 78, 186);
}

.new_game_bg {
  background-color: rgb(71, 165, 186);
  text-align: center;
}

.button {
  padding: 1em 2em;
  text-align: center;
  background: rgb(71, 165, 186);
  border: 3px solid #EEE;
  color: #FFF;
  text-decoration: none;
  width: 30%;
  margin-left: 32%;
}

 .button:hover {
   text-decoration: none;
   color: rgb(71, 165, 186);
   background-color: #EEE;
 }

.header_bottom {
  padding: 10px 30px 10px 30px;
/*  width: 99%;
border: 1px dsahed #FFF; */
}

header {
/* border: 1px dashed #FFF; */
  padding-top: 100px:
  width: 98%;
}

#easy {
  webkit-transform: perspective(200px) rotateY(-15deg);
  transform: perspective(200px) rotateY(-15deg);
}

#hard {
  webkit-transform: perspective(200px) rotateY(15deg);
  transform: perspective(200px) rotateY(15deg);
}
